In [2]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\achar\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\achar\appdata\roaming\python\python313\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\achar\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\achar\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\achar\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\achar\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
aDict={}
with open(file='text.txt', mode='r') as f:
    content = f.read().lower()
    for word in content.split():
        if word not in aDict:
            aDict[word] = 1
        else:
            aDict[word] += 1

print(aDict)

{'hello': 1, 'my': 1, 'name': 1, 'is': 1, 'prabin': 3, 'hi': 1, ',': 1, 'i': 1, 'am': 1, '2': 1, 'k': 1, 'xa': 2, 'khabar': 1, 'hahahha': 1, 'thikai': 1}

In [16]:
with open(file='text.txt', mode = 'r') as f:
    content = f.readlines()
    for line in content:
        print(line, end='')

Hello my name is prabin
hi prabin , i am prabin 2
k xa khabar
hahahha
thikai xa

In [22]:
with open(file='new.txt',  mode='w') as f:
    while True:
        input_text = input("Enter some text: ")
        if input_text == 'quit':
            break
        f.write(input_text)
        f.write("\n")

# CSV

In [27]:
import csv


with open(file='example.csv', mode='r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Name', 'Address', 'age']
['Prabin', 'Gauradaha', '22']
['Suman', 'Pokhara', '20']
['Karan', 'CharKoseJhadi', '60']

In [30]:
import csv

with open(file='example.csv', mode='r') as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row)

{'Name': 'Prabin', 'Address': 'Gauradaha', 'age': '22'}
{'Name': 'Suman', 'Address': 'Pokhara', 'age': '20'}
{'Name': 'Karan', 'Address': 'CharKoseJhadi', 'age': '60'}

In [35]:
import csv

data = [
    ["Name", "Address", "age"],
    ["Prabin", "Gauradaha", "22"],
    ["Suman", "Pokhara", "20"],
    ["Karan", "CharKoseJhadi", "60"],
]
with open(file="exampleWrite.csv", mode="w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [36]:
import csv

data = [
    {"Name": "Prabin", "Address": "Gauradaha", "Age": "22"},
    {"Name": "Suman", "Address": "Pokhara", "Age": "20"},
    {"Name": "Karan", "Address": "CharKoseJhadi", "Age": "60"},
]
with open(file="exampleWriteDict.csv", mode="w", newline="") as f:
    writer = csv.DictWriter(f, fieldnames=['Name','Address','Age'])
    writer.writeheader()
    writer.writerows(data)

In [37]:
import csv

data=[
    ["AnimeName","Genre","Type","Rating"],
    ['Attack On Titan','Monster','Series','9.8'],
    ['One Piece','Adventure','Series','9.2'],
    ['Monster','Crime','Series','9.3'],
    ['Your Name','Romance','Movie','9.7'],
]
with open(file="anime.csv", mode="w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(data)

# Pandas

In [1]:
import pandas as pd

df = pd.read_csv("anime.csv")
print(df)

         AnimeName      Genre    Type  Rating
0  Attack On Titan    Monster  Series     9.8
1        One Piece  Adventure  Series     9.2
2          Monster      Crime  Series     9.3
3        Your Name    Romance   Movie     9.7

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AnimeName  4 non-null      object
 1   Genre      4 non-null      object
 2   Type       4 non-null      object
 3   Rating     4 non-null      float64
dtypes: float64(1), object(3)
memory usage: 260.0+ bytes

In [5]:
df['AnimeName']

0    Attack On Titan
1          One Piece
2            Monster
3          Your Name
Name: AnimeName, dtype: object

In [6]:
df['Country']='Japan'

In [8]:
df.to_csv("anime.csv", index=False)

In [9]:
dfNew = pd.DataFrame([
    {"Roll":1, "Name":"Ram", "Eng":80, "Math":81, "Science":82},
    {"Roll":2, "Name":"Shyam", "Eng":79, "Math":80, "Science":83}
])
dfNew

   Roll   Name  Eng  Math  Science
0     1    Ram   80    81       82
1     2  Shyam   79    80       83

In [12]:
dfNew["Total"] = dfNew['Eng'] + dfNew['Math'] + dfNew['Science']
dfNew['Percentage'] = (dfNew['Total'] / 300) * 100
dfNew

   Roll   Name  Eng  Math  Science  Total  Percentage
0     1    Ram   80    81       82    243   81.000000
1     2  Shyam   79    80       83    242   80.666667