## Usiing sqlite

In [1]:
import sqlite3

#step 1: Connect to database or create a database
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

In [3]:
# Create table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS students(
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        address TEXT
    )
""")

In [5]:
# insert data into students
cursor.execute("""
    INSERT INTO students (name, age, address )
    VALUES ("prabin acharya", 22, "gauradaha"),
    ("prabin bashyal", 10, "charkose jhadi")
""")
conn.commit()

In [8]:
# Query
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'prabin acharya', 22, 'gauradaha')
(2, 'prabin bashyal', 10, 'charkose jhadi')

In [20]:
cursor.execute("SELECT * FROM students WHERE address LIKE 'g%a'")
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

(1, 'prabin acharya', 22, 'gauradaha')

## Using sqlAlchemy

In [9]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///mydb.db', echo=True)

In [7]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class Student(Base):
    __tablename__ = 'students'
    id=Column(Integer, primary_key=True)
    name=Column(String)
    age=Column(Integer)

#Create the table
Base.metadata.create_all(engine)

2025-12-29 13:28:14,067 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-29 13:28:14,072 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2025-12-29 13:28:14,077 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-29 13:28:14,086 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2025-12-29 13:28:14,086 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-29 13:28:14,092 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	age INTEGER,
	PRIMARY KEY (id)
)


2025-12-29 13:28:14,096 INFO sqlalchemy.engine.Engine [no key 0.00354s] ()
2025-12-29 13:28:14,113 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\achar\AppData\Local\Temp\ipykernel_38772\343440015.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [8]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [10]:
student1 = Student(name='Ram', age=25)
student2 = Student(name='Prabin', age=22)
session.add(student1)
session.add(student2)
session.commit()

2025-12-29 13:32:05,746 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-29 13:32:05,758 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:32:05,760 INFO sqlalchemy.engine.Engine [generated in 0.00064s (insertmanyvalues) 1/4 (ordered; batch not supported)] ('Ram', 25)
2025-12-29 13:32:05,769 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:32:05,773 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/4 (ordered; batch not supported)] ('Prabin', 22)
2025-12-29 13:32:05,777 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:32:05,784 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/4 (ordered; batch not supported)] ('Ram', 25)
2025-12-29 13:32:05,788 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age) VALUES (?, ?) RETURNING id
2025-12-29 13:32:05,802 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/4 (ordered; batch not supported)] ('Prabin', 22)
2025-12-29 13:32:05,811 INFO sqlalchemy.engine.Engine COMMIT

# Homework

In [2]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS books(
        id INTEGER PRIMARY KEY,
        title TEXT,
        author TEXT,
        year DATE
    )
""")

In [3]:
cursor.execute("""
    INSERT INTO books (title, author, year )
    VALUES ("Atomic Habit", "James Clear", "2016-08-16"),
    ("The Lord of the Rings", "John Ronald Reuel Tolkien", "1954-07-29"),
    ("To Kill a Mockingbird", "Harper Lee", "1960-07-11")
""")
conn.commit()

In [4]:
cursor.execute("SELECT * FROM books")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Atomic Habit', 'James Clear', '2016-08-16')
(2, 'The Lord of the Rings', 'John Ronald Reuel Tolkien', '1954-07-29')
(3, 'To Kill a Mockingbird', 'Harper Lee', '1960-07-11')

In [5]:
cursor.execute("""
    UPDATE books 
    SET year = "2025-12-30"
    WHERE title="Atomic Habit"
               RETURNING *
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Atomic Habit', 'James Clear', '2025-12-30')

In [7]:
cursor.execute("""
    DELETE FROM books 
    WHERE title="Atomic Habit"
               RETURNING *
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

In [8]:
cursor.execute("SELECT * FROM books")
rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'The Lord of the Rings', 'John Ronald Reuel Tolkien', '1954-07-29')
(3, 'To Kill a Mockingbird', 'Harper Lee', '1960-07-11')

## using sqlalchemy

In [1]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///book.db', echo=True)

In [2]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date

Base = declarative_base()

class Book(Base):
    __tablename__ = 'books'
    id=Column(Integer, primary_key=True)
    title=Column(String)
    author=Column(Integer)
    year=Column(Date)

#Create the table
Base.metadata.create_all(engine)

2025-12-30 23:12:14,150 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-30 23:12:14,152 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2025-12-30 23:12:14,152 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-30 23:12:14,152 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("books")
2025-12-30 23:12:14,152 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-30 23:12:14,152 INFO sqlalchemy.engine.Engine
CREATE TABLE books (
	id INTEGER NOT NULL,
	title VARCHAR,
	author INTEGER,
	year DATE,
	PRIMARY KEY (id)
)


2025-12-30 23:12:14,152 INFO sqlalchemy.engine.Engine [no key 0.00087s] ()
2025-12-30 23:12:14,171 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\achar\AppData\Local\Temp\ipykernel_43336\4242981061.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [3]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [7]:
session.rollback()

C:\Users\achar\AppData\Local\Temp\ipykernel_43336\1760783211.py:1: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  session.rollback()

In [8]:
from datetime import date

atomicHabit = Book(title="Atomic Habit", author='James Clear', year=date(2016, 8, 16))
lordOfTheRings = Book(title="The Lord of the Rings", author='John Ronald Reuel Tolkien', year=date(1954,7,29))
toKillAMockingbird = Book(title="To Kill a Mockingbird", author='Harper Lee', year=date(1960,7,11))
session.add(atomicHabit)
session.add(lordOfTheRings)
session.add(toKillAMockingbird)
session.commit()

2025-12-30 23:18:28,359 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-30 23:18:28,361 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, year) VALUES (?, ?, ?) RETURNING id
2025-12-30 23:18:28,363 INFO sqlalchemy.engine.Engine [cached since 153.5s ago (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Atomic Habit', 'James Clear', '2016-08-16')
2025-12-30 23:18:28,369 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, year) VALUES (?, ?, ?) RETURNING id
2025-12-30 23:18:28,372 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('The Lord of the Rings', 'John Ronald Reuel Tolkien', '1954-07-29')
2025-12-30 23:18:28,374 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author, year) VALUES (?, ?, ?) RETURNING id
2025-12-30 23:18:28,377 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('To Kill a Mockingbird', 'Harper Lee', '1960-07-11')
2025-12-30 23:18:28,381 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
book_to_update = session.query(Book).filter_by(title="Atomic Habit").first()

if book_to_update:
    book_to_update.year = date(2025, 12, 30)
    session.commit()
    print(f"Updated: {book_to_update.title}, {book_to_update.author}, {book_to_update.year}")
else:
    print("Book not found")

2025-12-30 23:20:01,001 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-30 23:20:01,016 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author AS books_author, books.year AS books_year
FROM books
WHERE books.title = ?
 LIMIT ? OFFSET ?
2025-12-30 23:20:01,020 INFO sqlalchemy.engine.Engine [generated in 0.00409s] ('Atomic Habit', 1, 0)
2025-12-30 23:20:01,027 INFO sqlalchemy.engine.Engine UPDATE books SET year=? WHERE books.id = ?
2025-12-30 23:20:01,030 INFO sqlalchemy.engine.Engine [generated in 0.00345s] ('2025-12-30', 1)
2025-12-30 23:20:01,034 INFO sqlalchemy.engine.Engine COMMIT
2025-12-30 23:20:01,042 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-30 23:20:01,046 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author AS books_author, books.year AS books_year
FROM books
WHERE books.id = ?
2025-12-30 23:20:01,047 INFO sqlalchemy.engine.Engine [generated in 0.00174s] (1,)
Updated: Atomic Habit, James Clear, 2025-12-30

In [10]:
book_to_delete = session.query(Book).filter_by(title="Atomic Habit").first()

if book_to_delete:
    session.delete(book_to_delete)
    session.commit()
    print(f"Deleted: {book_to_delete.title}, {book_to_delete.author}, {book_to_delete.year}")
else:
    print("Book not found")

2025-12-30 23:21:48,268 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author AS books_author, books.year AS books_year
FROM books
WHERE books.title = ?
 LIMIT ? OFFSET ?
2025-12-30 23:21:48,268 INFO sqlalchemy.engine.Engine [cached since 107.3s ago] ('Atomic Habit', 1, 0)
2025-12-30 23:21:48,278 INFO sqlalchemy.engine.Engine DELETE FROM books WHERE books.id = ?
2025-12-30 23:21:48,280 INFO sqlalchemy.engine.Engine [generated in 0.00301s] (1,)
2025-12-30 23:21:48,292 INFO sqlalchemy.engine.Engine COMMIT
Deleted: Atomic Habit, James Clear, 2025-12-30

In [14]:
books = session.query(Book)
for book in books:
    print(f"{book.title}, {book.author}, {book.year}")

2025-12-30 23:23:15,607 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author AS books_author, books.year AS books_year
FROM books
2025-12-30 23:23:15,608 INFO sqlalchemy.engine.Engine [cached since 54.55s ago] ()
The Lord of the Rings, John Ronald Reuel Tolkien, 1954-07-29
To Kill a Mockingbird, Harper Lee, 1960-07-11