## Covariance using numpy and pandas

In [10]:
import numpy as np
import pandas as pd

x = np.array([10, 20, 30, 40, 50])
y = np.array([10, 9, 8, 7, 1])

np.cov(x,y)

array([[250. , -50. ],
       [-50. ,  12.5]])

In [11]:
df = pd.DataFrame({"X": x, "Y": y})
df.cov()

       X     Y
X  250.0 -50.0
Y  -50.0  12.5

In [12]:
np.corrcoef(x, y)

array([[ 1.        , -0.89442719],
       [-0.89442719,  1.        ]])

In [13]:
df.corr()

          X         Y
X  1.000000 -0.894427
Y -0.894427  1.000000

In [15]:
from sklearn.datasets import load_iris
data = load_iris(as_frame=True)
X = data.data
y = data.target
print(X.head())
print(y.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [ ]:
# import seaborn as sns
# sns.heatmap(X.corr())

ModuleNotFoundError: No module named 'seaborn'

In [18]:
X.skew()

sepal length (cm)    0.314911
sepal width (cm)     0.318966
petal length (cm)   -0.274884
petal width (cm)    -0.102967
dtype: float64